<form [formGroup]="evaluateForm" class="evaluate-text-form">
  <div class="centering-container">
    <textarea class="evaluate-text" readonly formControlName="textToEvaluate" ></textarea>
  </div>
  <div class="centering-container">
    <button class='play-button'>
      Play
    </button>
  </div>

  <div class="centering-container">
  <div class="rating-holder" #ratingHolder >
    <div class="rating" (click)="setRating(1)">★</div>
    <div class="rating" (click)="setRating(2)">☆</div>
    <div class="rating" (click)="setRating(3)">☆</div>
    <div class="rating" (click)="setRating(4)">☆</div>
    <div class="rating" (click)="setRating(5)">☆</div>
  </div>
  </div>
  <div class="centering-container">
    <textarea formControlName="comment" class="comment-text" > </textarea>
  </div>
  <div class="centering-container">
    <button class="action-button" type="submit" >
      Next
    </button>
    <button class="action-button"  (click)="formSubmit()">
      Send Rating
    </button>
  </div>

</form>
