<form [formGroup]="evaluateForm" class="evaluate-text-form">
  <div class="centering-container">
    <textarea class="evaluate-text" readonly formControlName="textToEvaluate" ></textarea>
  </div>
  <div class="centering-container">
    <button class='play-button kbc-style-button'>
      Play
    </button>
  </div>

  <div class="centering-container">
  <div class="rating-holder" #ratingHolder (mousemove)="getCoordinates($event)" (mouseleave)="fillStartsOnMouseLeave()">
    <div class="rating" id="1" (click)="setRating(1)">☆</div>
    <div class="rating" id="2" (click)="setRating(2)">☆</div>
    <div class="rating" id="3" (click)="setRating(3)">☆</div>
    <div class="rating" id="4" (click)="setRating(4)">☆</div>
    <div class="rating" id="5" (click)="setRating(5)">☆</div>
  </div>
  </div>
  <div class="centering-container">
    <div class="comment-container">
    <textarea placeholder="Optional Comment" formControlName="comment" class="comment-text" [maxlength]="maxWordCount"> </textarea>
    <span #wordCounterHolder [ngClass]="{'color-red': wordCounter === maxWordCount}"
    >{{wordCounter}}/{{maxWordCount}}</span>
    </div>
  </div>
  <div class="centering-container">
    <button class="kbc-style-button action-button" type="submit" >
      Next
    </button>
    <button class="kbc-style-button action-button"  (click)="formSubmit()">
      Send Rating
    </button>
  </div>

</form>
